extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        

        //-Using interpolation to dynamically add the project title
        h1=project.project_name

        //- Using interpolation to dynamically add the project description
        p=project.description

      .project-tech-links-box.box
        h6 Technologies
        ul 
      

          //- Using an `each` iterator and interpolation to replace the li tags below and add the technologies listed for this project
          each technology in project.technologies
            li=technology
         

        //-using template literals and interpolation to add the appropriate URLs to the hrefs so that they could link to the git hub repo and live version of the selected project 
        a.btn-link(href=`${project.live_link}`, target='_blank') Live Demo
        a.btn-link(href=`${project.github_link}`, target='_blank') GitHub Repo

    .project-img-box.box
      //- Replacing the URLs in the src attributes below with interpolated template literals to dynamically add your amount of project images
      each image in project.image_urls
        img.project-img(src=`${image}`, alt='project image')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
